# Окружение (development/production)
NODE_ENV=development

# Postgres
DATABASE_URL=postgresql://psql_user:psql_pass@postgres:5432/psql_base_name?sslmode=disable
POSTGRES_DB=psql_base_name
POSTGRES_USER=psql_user
POSTGRES_PASSWORD=psql_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://:redis_pass@redis:6379
REDIS_PASSWORD=redis_pass

# Telegram Bot
TELEGRAM_BOT_TOKEN=1234567890:QWERTYUIOPASDFGHJKLZXCVBNM
TELEGRAM_CHAT_ID=123456789
ADMIN_TELEGRAM_ID=-100123456789

# S3 Storage Configuration
S3_REGION=... 
S3_ENDPOINT=...
S3_ACCESS_KEY_ID=...
S3_SECRET_ACCESS_KEY=...
S3_BUCKET_NAME=...
S3_PUBLIC_ENDPOINT=...

# JWT Security
JWT_SECRET=super-secret-jwt-token

# Development Admin (для тестирования в dev режиме)
NEXT_PUBLIC_DEV_ADMIN_ID=579218344